body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f4f4f4;
}

#root {
  width: 100%;
  display: block;
}

.App {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  color: #222222;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

h1 {
  text-align: center;
}

.campo-busqueda {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  color: #222;
}

.controles-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5px;
}

.controles-contenedor select {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #222;
  font-size: 100%;
}

.lista-clientes-contenedor {
  margin-top: 50px;
  margin-bottom: 50px;
}

.tarjeta {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 1rem;
  border-left: 10px solid #181e68;
  transition: transform 0.2s ease-in-out;
}

.tarjeta:hover {
  transform: translateY(-2px);
}

.tarjeta h3 {
  margin: 0 auto;
  color: #111;
}

.tarjeta p {
  margin: 0;
  color: #555;
}

.lista-clientes-contenedor p {
  text-align: center;
  color: #888;
}

.paginacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.paginacion button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: #181e68;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.paginacion button:hover:not(:disabled) {
  background-color: #114fde;
}

.paginacion button:disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
  opacity: 0.7;
}

.paginacion span {
  font-weight: bold;
  color: #333;
}

.app-logo {
  max-width: 600px;
  padding-bottom: 50px;
  height: auto;
  display: block;
  margin: 0 auto;
}
